@import "css-reset";  // import css-reset scss file for reset the browser default settings
@import "bootstrap";  // import bootstrap scss file from local storage

$section-title-color: rgb(30, 158, 251);
$section-text-color: rgb(0,0,0);
$code-text-color: rgb(255, 255, 255);
$code-background-color: rgba(0, 0, 0, 0.9);
$note-title-color: rgb(97, 218, 248);
$note-title-background-color: rgb(0, 0, 0);
$note-background-color: rgb(247, 239, 164);



html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  color: rgb(0,0,0);
}

p {
  margin-bottom: 0;  //reset the browser setting
  padding: 5px 0px;
}

pre {
  padding: 10px;
  color: $code-text-color;
  background-color: $code-background-color;
  border-radius: 10px;
}

article {
  margin: 10px auto;
}

.section-container {
  margin: 20px 0;
}

.main-section-title {
  padding: 15px 0px;
  font-size: 3.5em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.main-section-description {
  font-size: 1.5em;
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: $section-title-color;
}

.section-box-container {
  margin: 30px 0;
  color: $section-text-color;
  background-color: $note-background-color;
  border-radius: 10px;

  & .section-box-titlebar {
    padding: 5px 20px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(97, 218, 248);
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  & .section-box-content {
    padding: 20px 20px;
  }
}
