@import "bootstrap";  // import bootstrap scss file from local storage

body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  color: rgb(0,0,0);
}

p {
  padding: 5px 0px;
}

pre {
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.section-container {
  margin: 20px 0;
}

.main-section-title {
  padding: 15px 0px;
  font-size: 3.5em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.main-section-description {
  font-size: 1.5em;
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: rgb(97, 218, 251);
}
