@import "bootstrap";  // import bootstrap scss file from local storage
@import "css-reset";  // import css-reset scss file for reset the browser default settings



/**
  * Colours
  */
$logo-title-color: rgb(97, 218, 248);
$logo-background-color: rgba(0, 0, 0, 0.9);
$nav-menu-color: rgb(30, 158, 251);
$nav-background-color: rgb(255, 255, 255);

$section-title-color: rgb(30, 158, 251);
$section-text-color: rgb(0,0,0);
$code-text-color: rgb(255, 255, 255);
$code-background-color: rgba(0, 0, 0, 0.9);
$note-title-color: rgb(97, 218, 248);
$note-title-background-color: rgb(0, 0, 0);
$note-background-color: rgb(247, 239, 164);

$code-keyword-color: rgb(54, 34, 218);
$code-function-color: rgb(121, 182, 242);
$code-symbol-color: rgb(11, 96, 0);
$code-variable-color: rgb(241, 225, 17);
$code-htmltag-color: rgb(255, 94, 94);
$code-text-color: rgb(255, 255, 255);
$code-comment-color: rgb(128, 126, 126);



body {
  font-size: 1em;
  color: rgb(0,0,0);
}

p {
  margin-bottom: 0;  //reset the browser or bootstrap setting
  padding: 15px 0px 15px 0px;
}

pre {
  padding: 10px;
  color: $code-text-color;
  background-color: $code-background-color;
  border-radius: 10px;
}

main {
  margin: 30px 0px;
}

.row {
  width: 80%;
  margin: auto;
}

/**
  *  Nav Bar
  */
#navbar {
  position: fixed;
  top: 0;
  left: 15%;
  width: 20%;

  .navbar-title {
    margin: 20px 0px;
  }

  ul {
    margin: 40px 0;
    background-color: $nav-background-color;
    list-style-type: none;
  }

  li {
    margin: 20px 0px;
  }

  a {
    color: $nav-menu-color;
  }
}

.logo-container {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $logo-background-color;

  img {
    max-height: 50px;
  }
  header {
    padding: 0 5px;
    font-size: 1rem;
    color: $logo-title-color;
  }

  .nav-links {
    margin: 15px 10px;
    padding: 10px;
  }
}

/**
  *  Main Pages
  */
#main-doc {
  position: absolute;
  left: 35%;
  max-width: 50%;
}

.main-section header {
  padding: 15px 0px;
  font-size: 3.5em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.main-section-description {
  font-size: 1.5em;
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: $section-title-color;
}

.section-container {
  margin: 5rem 0;
}

.section-box-container {
  margin: 30px 0;
  color: $section-text-color;
  background-color: $note-background-color;
  border-radius: 10px;

  & .section-box-titlebar {
    padding: 5px 20px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(97, 218, 248);
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  & .section-box-content {
    padding: 20px 20px;
  }
}

/*** code sections ***/
.code {
  color: $code-text-color;

  .code-keyword {
    color: $code-keyword-color;
  }
  .code-function {
    color: $code-function-color;
  }
  .code-symbol {
    color: $code-symbol-color;
  }
  .code-variable {
    color: $code-variable-color;
  }
  .code-htmltag {
    color: $code-htmltag-color;
  }
  .code-comment {
    color: $code-comment-color;
  }
}
